* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #0b0d17;
    color: #d1d5db;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other content */
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the background without distortion */
    opacity: 0.3; /* Adjust the opacity for a dimmed effect */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 1; /* Ensures content is above the video */
}

.scrolling-text {
    background-color: rgba(14, 19, 32, 0.8); /* Slightly transparent background */
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #1f2937;
}

.scrolling-text span {
    display: inline-block;
    color: #94a3b8;
    font-size: 12px;
    padding: 10px 20px;
    margin-right: 100px;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

main {
    display: flex;
    flex: 1;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-top: -50px; /* Adjust this value to move it upwards */
}


.logo {
    margin-top: 100px;
    width: 80%;
}

.right-section {
    flex: 1;
    padding: 40px;
}

.right-section h2 {
    font-size: 50px;
    font-weight: 300;
    color: #d1d5db;
    margin-bottom: 20px;
}

.right-section h2 span {
    font-size: 50px;
    color: #10b981;
    margin-bottom: 20px;
}

.right-section p {
    font-size: 20px;
    margin-bottom: 50px;
}

.contact h3 {
    margin-bottom: 10px;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    margin-bottom: 40px;
}

.contact ul li a {
    color: #d1d5db;
    text-decoration: none;
    font-size: 16px;
}

.pgp-key {
    background-color: #10b981;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.pgp-key:hover {
    background-color: #059669;
}

.terms-link {
    color: #10b981;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.terms-link:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    background-color: rgba(14, 19, 32, 0.8); /* Transparent footer background */
    color: #94a3b8;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    .right-section {
        padding: 20px;
    }

    .right-section h2 {
        font-size: 40px;
    }

    .right-section p {
        font-size: 18px;
    }
}
